{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except atablied to the main title
 *   tag that atabears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that atabears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that atabears in the template.
 * - block_content: Block content entity instance.
 * - tabs: Referenced paragraph instances for the LB Tabs Block.
 * @see template_preprocess_block()
 * @see template_preprocess_block__lb_tabs()
 */
#}
{%
    set classes = [
    'container',
    'block',
    'block--spacing',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'block-tabs'
]
%}

{% set tabs_id = 'tabs-' ~ configuration['block_revision_id'] %}
{{ attach_library('ws_lb_tabs/lb_tabs') }}
<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>

    {{ title_prefix }}
    {{ title_suffix }}

    {% block content %}
        <div id="{{ tabs_id }}">
            {% if block_content.field_section_title.value or block_content.field_section_subtitle.value %}
            <div class="row section-description my-2 mt-lg-4 mb-lg-5">
                <div class="col-12">
                    {% if block_content.field_section_title.value is not empty %}
                        <h2>{{ block_content.field_section_title.value }}</h2>
                    {% endif %}
                    {% if block_content.field_section_subtitle.value is not empty %}
                        <p>{{ block_content.field_section_subtitle.value }}</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if tabs is not empty %}
            <div class="row my-4">
                <div class="col-12">
                    {# tab item #}
                    <ul class="nav nav-tabs mb-4 mb-md-5 d-flex flex-wrap" id="myTab" role="tablist">
                        {% for key, item in tabs %}
                            {% set safe_hash = configuration['block_revision_id'] ~ '--' ~ loop.index %}
                            {% set tab_title = item.field_title.value ~ safe_hash %}

                            {# content #}
                            {% if item.field_title %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link{% if loop.first %} active{% endif %}" id="{{ tab_title|clean_id }}-tab" data-toggle="tab" data-target="#tab-{{ tab_title|clean_id }}" type="button" role="tab" aria-controls="{{ tab_title|clean_id }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                                        {{ item.field_title.value }}
                                    </button>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    {# tab content #}
                    <div class="tab-content" id="myTabContent">
                        {% for key, item in tabs %}
                            {% set safe_hash = configuration['block_revision_id'] ~ '--' ~ loop.index %}
                            {% set tab_title = item.field_title.value ~ safe_hash %}
                            <div class="tab-pane fade{% if loop.first %} show active{% endif %}" id="tab-{{ tab_title|clean_id }}" role="tabpanel" aria-labelledby="{{ tab_title|clean_id }}-tab">
                                <h3>{{ item.field_title.value }}</h3>
                                {% if item.field_description %}
                                    {{ item.field_description|view }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endblock %}

</div>
